NUXT_PUBLIC_UMAMI_HOST=https://cloud.umami.is
NUXT_PUBLIC_UMAMI_ID=ef278021-0339-449a-bd86-4ca7d157d623
NUXT_PUBLIC_FORMSPREE_ID=xxxxxxxx
INSTAGRAM_ACCESS_TOKEN=tu_token_aqui

# Renovación automática del token de Instagram (cron job)
CRON_SECRET=una_clave_secreta_larga_y_aleatoria
VERCEL_TOKEN=tu_vercel_api_token
VERCEL_PROJECT_ID=prj_IBXg6Ue4mJcSZE9oM04HNYtg60jP
VERCEL_TEAM_ID=team_fVpwiqhsGJ2ysw3kg1hP74Jh
